__pycache__
.pytest_cache
**/*.dat
**/*.log
**/*.egg-info/
**/*.ccsdints.0
**/*.cfock
**/*.movecs
**/*.t2
**/*.b
**/*.c
**/*.db
**/*.zmat
**/*.t2.numg
**/*.p
**/*.b^-1
**/*.drv.hess
**/*.DS_Store
input.txt
**/scratch.ipynb
**/.vscode/
examples/example.py
data/H2O/2/
data/H2O/3/
data/H2O/4/
data/H2O/H2O_trimers/
data/H2O/geometry_optimization/