__pycache__
.pytest_cache
**/*.dat
**/*.log
**/*.egg-info/
**/*.ccsdints.0
**/*.cfock
**/*.movecs
**/*.t2
**/*.b
**/*.c
**/*.db
**/*.zmat
**/*.p
**/*.b^-1
**/*.DS_Store
input.txt
**/scratch.ipynb
examples/example.py